<!doctype html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css"/>
    <title> Info3180-lab2 Samorae Campbell </title>
    
  </head>
    <body class="body">
      <div> <img src="https://smilingcat01.files.wordpress.com/2012/05/smiling_cat_small1.jpg"/>
      </div><br/>
      
      <div > <p class="name">Samorae Campbell </p>
      <br/>
      
      <p> Today is: {{ time }} </p>
      <p>
         Username: samorae101 <br/>
         ID: 620055968 <br/>
         Sex: Male <br/>
         Age: 20 <br/>
        Highest Score: 11 <br/>
        TDollars: 14 </p>
        
      </div>
      
  </body>
  

</html>